In [24]:
import pandas as pd

In [29]:
imdb = pd.read_csv("E:/Momo/Datasets/imdbreviews/IMDB Dataset.csv")
ques = pd.read_csv("E:/Momo/Datasets/questions/train.csv")

In [30]:
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [31]:
ques = ques.head(25000)
ques["sentiment"] = ["question"]*25000
ques = ques.drop(["context", "id", "title", "answers"], axis= 1)
ques.columns = ["review", "sentiment"]

ques.head()

                                              review sentiment
0  To whom did the Virgin Mary allegedly appear i...  question
1  What is in front of the Notre Dame Main Building?  question
2  The Basilica of the Sacred heart at Notre Dame...  question
3                  What is the Grotto at Notre Dame?  question
4  What sits on top of the Main Building at Notre...  question

In [32]:
ques.head()

                                              review sentiment
0  To whom did the Virgin Mary allegedly appear i...  question
1  What is in front of the Notre Dame Main Building?  question
2  The Basilica of the Sacred heart at Notre Dame...  question
3                  What is the Grotto at Notre Dame?  question
4  What sits on top of the Main Building at Notre...  question

In [33]:
dataset = imdb.append(ques, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     75000 non-null  object
 1   sentiment  75000 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_12320\1749802111.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataset = imdb.append(ques, ignore_index=True)

In [34]:
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive